.menu {
  padding: 0 1em;
  position: fixed;
  width: 99%;
  background-color: #fff;
  font-family: sans-serif;
  img{
    &:hover{
      animation: rotateIn 1s;
    }
    margin-top: 0.3em;
    float: left;
  }
  ul{
    height: 3em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li{
      display: flex;
      height: 100%;
      list-style: none;
      text-transform: uppercase;
      a{
        color: #000;
        text-decoration: none;
        margin: 1em;
        height: 100%;
        width: 100%;
      }
      &:hover{
        a{
          color: #000;
        }
      }
      &.active{
        border-bottom: 0.3em solid #F45F5F;
        a{
          color: #000;
        }
      }
    }
  }
}
