<div class="wrap">
  <div class="imgProfile">
    <img src="assets/img/profile.jpg" alt="profile picture" width="400" height="400"/>
  </div>
  <div>
    <p>
      Hello! My name is Rey, and this is my portfolio website. Here you will find all of the technologies that I am currently learning, and ones that I would like to learn about in the future. You can also check out my completed projects under the project tab, and you can look at the repositories with the link to the projects that I've built to learn these different technologies.
    </p>
  </div>
</div>
