<div class="wrap">
  <div class="imgProfile">
    <img src="img/profile.jpg" alt="profile picture" width="400" height="400"/>
  </div>
  <div>
    <p>
      Hello my name is Rey and this is my Portfolio Webside and here you will find all of the technologies im learning and the ones that i want to learn.
      you can also check my projects that i have in the prjects tab that i have build uising the technologies that i have learn you can also look the repositories with the link to the projects that i built to learn this differnt technologies.
    </p>
  </div>
</div>
