<div class="wrap">

  <div class="card">
    <img src="img/tech/sass.png" alt="sass" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/node.png" alt="node" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/less.png" alt="less" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/jquery.png" alt="jquery" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/java_script.png" alt="java script" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/html.png" alt="html" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/grunt.png" alt="grunt" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/github.png" alt="github" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/css.png" alt="css" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/bootstrap.png" alt="bootstrap" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/angular.png" alt="angular" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/react.png" alt="angular" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/linux.png" alt="angular" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>
  <div class="card">
    <img src="img/tech/electronShell.png" alt="angular" />
    <div class="content">
      <h4>Tittle</h4>
      <p>Git: <a href="https://github.com/ReyPena">Repo</a></p>
    </div>
  </div>

</div>

<!-- <img src="img/tech/ruby.png" alt="ruby" />
<img src="img/tech/python.png" alt="python" />
<img src="img/tech/fundation.png" alt="fundation" /> -->
