<footer>
  <ul>
    <li>
      <a href="https://github.com/ReyPena" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-github-alt zmdi-hc-stack-1x zmdi-hc-inverse"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/reypena" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-linkedin zmdi-hc-stack-1x zmdi-hc-inverse"></i>
      </a>
    </li>
    <li>
      <a href="mailto:zonickblack@gmail.com" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-google-plus zmdi-hc-stack-1x  zmdi-hc-inverse"></i>
      </a>
    </li>
  </ul>
</footer>
