<nav class="menu">
  <a ui-sref="home"><img src="assets/img/logo/main.png" alt="logo" width="50" height="50"/></a>
  <ul class="menuItems">
    <li ng-class="{active: isActive('/')}"><a ui-sref="home">Home</a></li>
    <li ng-class="{active: isActive('/skills')}"><a ui-sref="skills">Skills</a></li>
    <li ng-class="{active: isActive('/projects')}"><a ui-sref="projects">Projects</a></li>
    <!-- <li ng-class="{active: isActive('/experience')}"><a ui-sref="experience">Experience</a></li> -->
  </ul>
</nav>
