footer {
  width: 100%;
  height: auto;
  // background-color: #505054;
  // border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    .variable {
      margin-right: 0.4em;
      color: #F45F5F;
    }
    span {
      color: #000;
      font-size: 2em;
    }
    li {
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #F45F5F;
        }
      }
    }
  }
}
