$main-font: sans-serif;

* {
  font-family: $main-font;
}
html {
  box-sizing: border-box;
  &,body{
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.view{
  flex: 1;
  &.ng-enter {
    animation: fadeInLeft 0.5s;
  }
}

.wrap {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 5em 20%;
}


// libs
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "./_animate.scss";

//components
@import "components/_menu.scss";
@import "components/_footer.scss";
// pages
@import "pages/_home.scss";
@import "pages/_skills.scss";
@import "pages/_experience.scss";
@import "pages/_projects.scss";
