<footer>
  <ul>
    <span class="variable">var</span><span>contactMe = {</span>
    <li class="tooltip" title="Github">
      <a href="https://github.com/ReyPena" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-github-alt zmdi-hc-stack-1x zmdi-hc-inverse"></i>
      </a>
    </li>
    <li class="tooltip" title="Linkedin">
      <a href="https://www.linkedin.com/in/reypena" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-linkedin zmdi-hc-stack-1x zmdi-hc-inverse"></i>
      </a>
    </li>
    <li class="tooltip" title="Email Me">
      <a href="mailto:zonickblack@gmail.com" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-google-plus zmdi-hc-stack-1x  zmdi-hc-inverse"></i>
      </a>
    </li>
    <li class="tooltip" title="My Resume">
      <a ng-click="download()" download="Resume.pdf" class="zmdi-hc-stack zmdi-hc-lg">
        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
        <i class="zmdi zmdi-file-text zmdi-hc-stack-1x  zmdi-hc-inverse"></i>
      </a>
    </li>
    <span>};</span>
  </ul>
</footer>
