<div class="wrap">
  <div class="project" ng-repeat="project in projects">
    <div class="decription">
      <h4 ng-click="webShow($index)">{{project.name}}</h4>
      <div class="webContainer" ng-if="project.show">
        <iframe ng-src="{{trustSrc(project.url)}}" frameborder="0" scrolling="yes"></iframe>
      </div>
      <span>Description:</span>
      <br>
      <p>{{project.description}}</p>
      <p ng-if="project.url">Url: <a href="{{project.url}}">{{project.domain}}</a></p>
      <p>Github: <a href="{{project.git}}">{{project.name}}</a></p>
    </div>
  </div>
</div>
