.stack{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  border: 1px solid black;
  margin: 1em;
  &:hover{
    cursor: pointer;
  }
  img{
    width: 100%;
  }
}

img[ng-if].ng-enter{
  animation: bounceIn 1s;
}

.content[ng-if].ng-enter{
  animation: bounceIn 1s;
}

.content{
  margin: 0.5em;
  h4{
    text-align: center;
  }
}
