.project{
  h4{
    text-align: center;
    padding: 1em;
    &:hover{
      border: 1px solid black;
      cursor: pointer;
    }
  }
  iframe{
    width: 100%;
    height: 18em;
    border: 1 solid black;
    overflow: scroll;
  }
  a{
    color: #F45F5F;
    text-decoration: none;
  }
}
.webContainer{
  height: auto;
  border: 1px solid black;
  &[ng-if].ng-enter{
    animation: flash 1s;
  }
  &[ng-if].ng-leave{
    animation: hinge 2s;
  }
}
